In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# moduł do komunikacji z bazą PostgreSQL
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.2-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.2

In [3]:
# connection string do bazy danych
cs = "postgresql+psycopg2://elanco_user:elanco_pass@51.91.120.89/elanco"
engine = create_engine(cs)

In [4]:
engine

Engine(postgresql+psycopg2://elanco_user:***@51.91.120.89/elanco)

In [5]:
df = pd.read_sql_table("city", engine)
df

     city_id                 city  country_id                last_update
0          1   A Corua (La Corua)          87 2006-02-15 09:45:25.000000
1          2                 Abha          82 2006-02-15 09:45:25.000000
2          3            Abu Dhabi         101 2006-02-15 09:45:25.000000
3          4                 Acua          60 2006-02-15 09:45:25.000000
4          5                Adana          97 2006-02-15 09:45:25.000000
..       ...                  ...         ...                        ...
611      632              Baku2AA          10 2021-05-25 16:57:35.800783
612      627  Chrząszczyżewoszyce          76 2021-05-25 16:57:38.623808
613      629  Chrząszczyżewoszyce          76 2021-05-25 16:57:38.623808
614      633  Chrząszczyżewoszyce          76 2021-05-25 16:57:38.623808
615      645            Marianowo          15 2021-09-27 15:26:03.255701

[616 rows x 4 columns]

In [6]:
df.dtypes

city_id                 int64
city                   object
country_id              int64
last_update    datetime64[ns]
dtype: object

In [12]:
# odczyt na podstawie komendy SQL SELECT
#
df = pd.read_sql(" SELECT * FROM city WHERE city LIKE 'S%%' ", engine)
df

    city_id            city  country_id                last_update
0       439      Saarbrcken          38 2006-02-15 09:45:25.000000
1       440      Sagamihara          50 2006-02-15 09:45:25.000000
2       441     Saint Louis         103 2006-02-15 09:45:25.000000
3       442     Saint-Denis          79 2006-02-15 09:45:25.000000
4       443             Sal          62 2006-02-15 09:45:25.000000
..      ...             ...         ...                        ...
74      616     San Escobar          32 2020-10-08 10:08:18.071989
75      619     San Escobar          32 2020-10-08 10:10:28.366308
76      621     San Escobar          32 2020-10-08 10:15:01.531884
77      622     San Escobar          32 2020-10-08 10:15:21.265922
78      457  Santa Fe by MW           6 2020-11-28 21:09:43.786015

[79 rows x 4 columns]

In [13]:
# zapis df do bazy danych
df.to_sql("city_marwit", engine)

In [14]:
df.dtypes

city_id                 int64
city                   object
country_id              int64
last_update    datetime64[ns]
dtype: object