In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

In [3]:
cities = ['Gdańsk','Poznań','Warszawa','Łódź','Sierpc','Wrocław']
serie = pd.Series(cities)
serie

0      Gdańsk
1      Poznań
2    Warszawa
3        Łódź
4      Sierpc
5     Wrocław
dtype: object

In [4]:
type(serie)

pandas.core.series.Series

In [5]:
serie.values # dane serii

array(['Gdańsk', 'Poznań', 'Warszawa', 'Łódź', 'Sierpc', 'Wrocław'],
      dtype=object)

In [7]:
list(serie.index) # indeks serii

[0, 1, 2, 3, 4, 5]

In [8]:
cities = ['Gdańsk','Poznań','Warszawa','Łódź','Sierpc','Wrocław']
plates = ['GD', 'PO', 'WI', 'EL', 'WSE', 'DW']
serie = pd.Series(cities, plates)
serie

GD       Gdańsk
PO       Poznań
WI     Warszawa
EL         Łódź
WSE      Sierpc
DW      Wrocław
dtype: object

In [9]:
serie.index

Index(['GD', 'PO', 'WI', 'EL', 'WSE', 'DW'], dtype='object')

In [10]:
countries = ["Poland","Germany","Russia","USA","UK"]
population = [ 38123456, 82456111, 150876234, 320876222, 62234987 ]
serie = pd.Series(population, countries)
serie

Poland      38123456
Germany     82456111
Russia     150876234
USA        320876222
UK          62234987
dtype: int64

In [11]:
serie>80_000_000

Poland     False
Germany     True
Russia      True
USA         True
UK         False
dtype: bool

In [12]:
serie[ serie>80_000_000 ]

Germany     82456111
Russia     150876234
USA        320876222
dtype: int64

In [14]:
serie

Poland      38123456
Germany     82456111
Russia     150876234
USA        320876222
UK          62234987
dtype: int64

In [15]:
def convert_pop(x):
    if x<50_000_000:
        return "L"
    if x<100_000_000:
        return "M"
    return "H"

In [18]:
convert_pop(5_123_456)

'L'

In [19]:
serie.apply(convert_pop)

Poland     L
Germany    M
Russia     H
USA        H
UK         M
dtype: object

In [21]:
serie.apply(lambda x: round(x/1_000_000,3) )

Poland      38.123
Germany     82.456
Russia     150.876
USA        320.876
UK          62.235
dtype: float64

In [22]:
serie = pd.Series(["PL","UK","DE","US"])
serie

0    PL
1    UK
2    DE
3    US
dtype: object

In [24]:
countries_map = {
    "PL" : "Polska", "UK": "Wlk Brytania", "DE" : "Niemcy", #"US": "USA"
}
serie.map(countries_map)

0          Polska
1    Wlk Brytania
2          Niemcy
3             NaN
dtype: object

In [25]:
# sortowanie
countries = ["Poland","Germany","Russia","USA","UK"]
population = [ 38123456, 82456111, 150876234, 320876222, 62234987 ]
serie = pd.Series(population, countries)
serie

Poland      38123456
Germany     82456111
Russia     150876234
USA        320876222
UK          62234987
dtype: int64

In [27]:
serie.sort_values(ascending=False)

USA        320876222
Russia     150876234
Germany     82456111
UK          62234987
Poland      38123456
dtype: int64

In [28]:
serie.sort_index(ascending=False)

USA        320876222
UK          62234987
Russia     150876234
Poland      38123456
Germany     82456111
dtype: int64

In [30]:
serie.sum(), serie.min(), serie.max(), serie.mean(), serie.std()

(654567010, 38123456, 320876222, 130913402.0, 114191938.70460652)

In [32]:
serie.head(2)

Poland     38123456
Germany    82456111
dtype: int64

In [33]:
serie.tail(2)

USA    320876222
UK      62234987
dtype: int64

In [34]:
serie

Poland      38123456
Germany     82456111
Russia     150876234
USA        320876222
UK          62234987
dtype: int64

In [37]:
serie["Poland"], serie.Poland, serie.loc["Poland"]

(38123456, 38123456, 38123456)

In [39]:
serie.iloc[0], serie[0]

(38123456, 38123456)

In [41]:
serie.loc["Germany":"USA"]

Germany     82456111
Russia     150876234
USA        320876222
dtype: int64

In [42]:
serie.loc["Russia":]

Russia    150876234
USA       320876222
UK         62234987
dtype: int64

In [43]:
serie.loc[:"Russia"]

Poland      38123456
Germany     82456111
Russia     150876234
dtype: int64

In [45]:
serie.loc["Germany"::2]

Germany     82456111
USA        320876222
dtype: int64

In [46]:
serie.loc[ ["Poland",'USA'] ]

Poland     38123456
USA       320876222
dtype: int64

In [48]:
serie.iloc[1:4]

Germany     82456111
Russia     150876234
USA        320876222
dtype: int64

In [52]:
serie.iloc[ [-2,0] ]

USA       320876222
Poland     38123456
dtype: int64